# The "API" section is required
[API]
url = http://your_URL_to_SHC  # Remember to include ":port" at end of URL  if you use another port than 80, for example: http://my_house.dyndns.org:8080
username = my_username  # Normally "admin"
password = my_password
verbose = False  # If set to "True", will give console output to help debugging